$color-primary: #a30146;
$color-primary-hover: #83013e;
$color-text-main: #070c14;
$color-text-muted: #7d8591;

$color-success: #00b074;
$color-warning: #ff9f00;
$color-danger: #f23c44;
$color-danger-bg: #fdf2f2;

$color-border-default: #cbd3e0;
$color-border-drag: #b672ff;
$color-bg-drag: #f6f0ff;
$color-bg-disabled: #f1f3f7;
